@import "tailwindcss";

:root {
  --color-paper: #F2F2F2;
  --color-ink: #1A1A1A;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; /* Mencegah scroll samping */
}

/* Helper biar semua garis grid konsisten */
.border-grid {
  border: 1px solid #1A1A1A;
}